<a href="https://colab.research.google.com/github/RatnadeepUmak/notebook-lab/blob/main/DataScienceEcosystem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:



1.   Python
2.   R
3.   SQL

Some of the commonly used libraries used by Data Scientists include:


1.   Pandas
2.   NumPy
3.   Matplotlib

<table>
<th>Data Science Tools</th>
<tr>
<td>MongoDB</td>
</tr>
<tr>
<td>Apache SparkSQL</td>
</tr>
<tr>
<td>TensorFlow</td>
</tr>

</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [ ]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

**Objectives:**

<ul>
<li>Python</li>
<li>R</li>
<li>SQL</li>
</ul>

<h2>Author</h2>
Ratnadeep